--find-links https://data.pyg.org/whl/torch-1.13.0+cpu.html
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html

torch <2.0
torchmetrics >=0.7.0,<0.11
rdkit >==2020.09
jupyterlab
ipywidgets
markdown-include
omegaconf
pyg-nightly
torch-scatter==2.1.0
torch-sparse==0.6.15
torchvision==0.14.1+cpu
lightning @ git+https://github.com/Lightning-AI/lightning@ca30fd7752582201a3966806c92e3acbbaf2a045
lightning-graphcore @ git+https://github.com/Lightning-AI/lightning-Graphcore
graphcore-cloud-tools[logger] @ git+https://github.com/graphcore/graphcore-cloud-tools@v0.3
